<div class="col-md-12">
	<h1 class="page-header text-center">Service Configuration <%= link_to @service.full_name, @service%></h1>

	<%= render 'form', service: @service %>

	<hr />

	<%= link_to 'Back to service page', @service, :class => "btn btn-warning" %>
</div>