<div class="jumbotron">
	<h1>Send Messages through all social Network easily</h1>
	<p>
		Social presence enables you to easily send through a simple and single API call a social message to numerous social networks such as Twitter, Facebook and Google +
	</p>
	<p>
		This tool eases the process of social automation for developer eager to automate partly the community management process
	</p>
	<% if current_user %>
	<div class="text-center">
		<%= link_to "See your account", current_user, class: "btn btn-info" %>
	</div>
	
	<% else%>
	<div class="text-center">
		<%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-lg" %>
		<%= link_to "Sign in", new_user_session_path, class: "btn btn-info btn-lg" %>
	</div>
	
	<% end %>
</div>