<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Message sent to <%= @service.full_name %></h1>
    
    <p>A new message has been successfully been sent to this service through SocialPresence</p>
    <p><strong>Content : </strong> <%= @message.content %></p>
    
    <p>Thanks,</p>
    
    <p>SocialPresence</p>
  </body>
</html>